body {
  font-family: Arial, sans-serif;
}
.container-fluid h1{
  text-align: center;
}
.search-container{
  row-gap: .25em;
}
.btn-danger{
  width: 350px;
  font-size: clamp(1em,1.2em,1.5em);
}
.button-container{
  column-gap: 1em;
}
.button-container input, select{
  font-size: 1em;
  width: 250px;
}
.answer{
  padding: 1em 0;
  font-size: 1.5em;
  width: 60%;
}
.result-item{
  width: 100%;
  text-align: left;
}
.menu {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.menu-item {
  padding: 5px;
}